
<div class="center">
  <!-- <input type="checkbox" name="" id="toggle" /> -->
  <!-- <label for="toggle"></label> -->
  <div class="tweet">
    <div class="head">
      <!-- <div class="image"></div> -->
      <div class="name">
        <div class="username">
          <p>
            <a
              ><strong>Arsh</strong></a
            >
          </p>
          
        </div>
      </div>

      <span
        class="material-symbols-outlined follow-btn"
        
      >
      
      </span>
    </div>

    <div class="content">
      <div class="container">
        <h2>
          <a>Post Title</a>
        </h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, saepe.</p>

        <div class="date">12/12/12</div>
        <div class="editDeleteBtn">
          <a
            >Edit</a
          >
          <a
            >Delete</a
          >
        </div>
      </div>
    </div>

    <div class="comment-feed">
      <h4>Comments :</h4>
      <div class="comment">
        <p>
          <strong>@Arsh</strong> ldfl sdlkfjsd sdlf
        </p>
        <p></p>
      </div>
    </div>
    <div class="create-post">
      <input
        type="text"
        placeholder="Add a Comment!!"
        
      />
      <input
        type="submit"
        value="Comment"
        class="btn btn-primary"
        
      />
    </div>

    <div class ="controls">
      <div class="material-symbols-outlined social-btn" >
          heart_plus
      </div>
     1

      <div class="btn">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </div>
  
  </div>
</div>
</div>